<div class="center">
  <div class="row r7">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[0]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r6">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[1]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r5">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[2]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[3]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r4">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[4]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[5]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r3">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[6]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[7]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r2">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[8]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[9]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r1">
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[10]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[11]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div [@xmas]="animationConfig[12]" #bulp></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  <div class="row r0">
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
  
  <img src="assets/images/plug.png" alt="plug" class="off" (click)="toggleXmasLight()" [class.on]="plugged" [class.off]="!plugged"/>
</div>