<div class="row r7">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="gold" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r6">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="blueviolet" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r5">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="white" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="crimson" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r4">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="blue" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="blueviolet" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r3">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="palevioletred" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="gold" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r2">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="blue" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="chocolate" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r1">
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="white" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="crimson" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div class="blueviolet" [@xmas]="lightOn"></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>
<div class="row r0">
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
  <div><div></div></div>
</div>

<img src="../../assets/images/plug.png" alt="plug" class="off" (click)="toggleXmasLight()" [class.on]="plugged" [class.off]="!plugged"/>